body {
  background: #111;
  color: #f0f0f0;
  font-family: monospace !important;
  font-size: 24px;
  margin: 0;
  place-content: center;
  overflow: hidden;
}


/* le block conteneur */
.marquee-rtl {
  background-color: #fff;
  color: #000;
  width: 100%;
  padding: .5em;
  overflow: hidden !important;
}

.rate {
  color: rgb(1, 136, 109);
}

/* le bloc défilant */
.marquee-rtl * {
  display: inline-block;                /* modèle de boîte en ligne */
  padding-right: 2em;                   /* un peu d'espace pour la transition */
  padding-left: 5%;                   /* placement à droite du conteneur */
  white-space: nowrap;                  /* pas de passage à la ligne */
  animation: defilement-rtl 15s infinite linear;
  
}


@keyframes defilement-rtl {
  0% {
    transform: translate3d(0,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}

.simulate-typing {
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 2s steps(13) infinite alternate,
    blink 800ms steps(13) infinite normal;
  border-right: 5px solid rgb(255, 255, 255);
}

@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 8%;
  }
}
@keyframes blink {
  from {
    border-color: rgb(255, 255, 255);
  }
  to {
    border-color: transparent;
  }
}